.right-left {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  flex-direction: column;
}
